body {
    background-color: #135E4B;
    font-family: 'Roboto Mono', monospace;
    color: #DFF6E7;
}

a {
    color: #92FDDB;
}

a:hover {
    color: #ff6347;
}

h2 {
    margin: 0;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header, 
section {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav p {
    margin: 0;
}

.item {
    background: #083A2D;
    padding: 20px;
    border-radius: 10px;
}

.entry {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.titles {
    display: flex;
    flex-direction: column;
}

.titles h3:first-child {
    margin-bottom: 0;
}

h3, h4, .markey ul {
    margin-top: 0;
}

#repo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .content {
        display: flex;
        justify-content: space-between;
    }

    .column {
        flex: 1;
    }
}